body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.register-container {
    display: flex;
    justify-content: flex-start; /* Align to the top horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    background-color: #f0f0f0; /* Optional: Add a background color */
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center horizontally */
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-form label {
    align-self: flex-start;
    margin-bottom: 5px;
}

.register-form input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
}
